body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

.hoverButtons {
  transition: all 0.3s ease-in-out;
  margin-left: 5%;
}

.hoverButtons:hover {
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
  cursor: pointer;
}

.hoverTodo {
  transition: all 0.3s ease-in-out;
}

.hoverTodo:hover {
  filter: drop-shadow(0px 0px 10px rgba(2, 40, 61, 1));
  cursor: pointer;
}

.arrow{
  transform: rotate(0.5turn);
}

.dark-theme {
  color: #eaeaeaea;
  background-color: #1d1d1d; 
}
